:root{
    --background-color : #d5e1ef;
    
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui , sans-serif;
}
.parent{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent .card{
    background-color: #fff;
    padding: 18px;
    border-radius: 12px;
    text-wrap: wrap;
    max-width: 336px;
    text-align: center;
}
.parent .card .qr-code{
    margin-bottom: 30px;
}
.parent .card .qr-code img{
    width: 300px;
    border-radius: 8px;
}
.parent .card .title{
    color : #0f1f38;
    line-height: 1.2;
    margin-bottom: 15px;
}
.parent .card .description{
    color: #777;
    margin-bottom: 30px;
}